/venv/
**/.pytest_cache/
**/.mypy_cache/
**/__pycache__/
/mods/
**/*.env
/build
/.healer.log
/journeymap/
/knownkeys.txt
/localconfig.cfg
/logs/
/saves/
/stencil*.png
/schematics/
/blueprints/
/betterfps.txt
/crash-reports/
/bettercrashes-*
/backups/
/usernamecache.json
**/*/*.cache
/dumps/
/Xaero*
/package/
/servers.dat*
realms_persistence.json
/user*
/modernfix/
/shaderpacks/
/forge-1.20.1-47.1.43*
!/forge-1.20.1-47.1.43-installer.jar
